<!DOCTYPE html>

<head>
<script src="http://code.jquery.com/jquery-2.0.2.js"></script>
<script src="http://underscorejs.org/underscore.js"></script>
<script src="http://backbonejs.org/backbone.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/q.js/0.9.2/q.js"></script>
<script src="lines.js"></script>
</head>
<body>

XXX

<canvas height='320' width='480' id='cs'>canvas</canvas>

</body>
<script type="text/html" id="fieldTemplate">
	Height: <%= h %>
	Width: <%= w %>
</script>
